@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?fa5bc7365753ca8a5b611a7832b572b3") format("truetype"),
url("./flaticon.woff?fa5bc7365753ca8a5b611a7832b572b3") format("woff"),
url("./flaticon.woff2?fa5bc7365753ca8a5b611a7832b572b3") format("woff2"),
url("./flaticon.eot?fa5bc7365753ca8a5b611a7832b572b3#iefix") format("embedded-opentype"),
url("./flaticon.svg?fa5bc7365753ca8a5b611a7832b572b3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-fridge:before {
    content: "\f101";
}
.flaticon-oven:before {
    content: "\f102";
}
.flaticon-sofa:before {
    content: "\f103";
}
.flaticon-television:before {
    content: "\f104";
}
.flaticon-pallet:before {
    content: "\f105";
}
.flaticon-boxes:before {
    content: "\f106";
}
.flaticon-delivery-truck:before {
    content: "\f107";
}
.flaticon-delivery:before {
    content: "\f108";
}
.flaticon-boxes-1:before {
    content: "\f109";
}
.flaticon-storage:before {
    content: "\f10a";
}
.flaticon-drop-shipping:before {
    content: "\f10b";
}
.flaticon-approved:before {
    content: "\f10c";
}
.flaticon-giftbox:before {
    content: "\f10d";
}
.flaticon-car-compact:before {
    content: "\f10e";
}
.flaticon-calendar:before {
    content: "\f10f";
}
.flaticon-whatsapp:before {
    content: "\f110";
}
.flaticon-mail:before {
    content: "\f111";
}
.flaticon-placeholder:before {
    content: "\f112";
}
.flaticon-facebook-circular-logo:before {
    content: "\f113";
}
.flaticon-instagram:before {
    content: "\f114";
}
