$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?fa5bc7365753ca8a5b611a7832b572b3") format("truetype"),
url("./flaticon.woff?fa5bc7365753ca8a5b611a7832b572b3") format("woff"),
url("./flaticon.woff2?fa5bc7365753ca8a5b611a7832b572b3") format("woff2"),
url("./flaticon.eot?fa5bc7365753ca8a5b611a7832b572b3#iefix") format("embedded-opentype"),
url("./flaticon.svg?fa5bc7365753ca8a5b611a7832b572b3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "fridge": "\f101",
    "oven": "\f102",
    "sofa": "\f103",
    "television": "\f104",
    "pallet": "\f105",
    "boxes": "\f106",
    "delivery-truck": "\f107",
    "delivery": "\f108",
    "boxes-1": "\f109",
    "storage": "\f10a",
    "drop-shipping": "\f10b",
    "approved": "\f10c",
    "giftbox": "\f10d",
    "car-compact": "\f10e",
    "calendar": "\f10f",
    "whatsapp": "\f110",
    "mail": "\f111",
    "placeholder": "\f112",
    "facebook-circular-logo": "\f113",
    "instagram": "\f114",
);

.flaticon-fridge:before {
    content: map-get($flaticon-map, "fridge");
}
.flaticon-oven:before {
    content: map-get($flaticon-map, "oven");
}
.flaticon-sofa:before {
    content: map-get($flaticon-map, "sofa");
}
.flaticon-television:before {
    content: map-get($flaticon-map, "television");
}
.flaticon-pallet:before {
    content: map-get($flaticon-map, "pallet");
}
.flaticon-boxes:before {
    content: map-get($flaticon-map, "boxes");
}
.flaticon-delivery-truck:before {
    content: map-get($flaticon-map, "delivery-truck");
}
.flaticon-delivery:before {
    content: map-get($flaticon-map, "delivery");
}
.flaticon-boxes-1:before {
    content: map-get($flaticon-map, "boxes-1");
}
.flaticon-storage:before {
    content: map-get($flaticon-map, "storage");
}
.flaticon-drop-shipping:before {
    content: map-get($flaticon-map, "drop-shipping");
}
.flaticon-approved:before {
    content: map-get($flaticon-map, "approved");
}
.flaticon-giftbox:before {
    content: map-get($flaticon-map, "giftbox");
}
.flaticon-car-compact:before {
    content: map-get($flaticon-map, "car-compact");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-facebook-circular-logo:before {
    content: map-get($flaticon-map, "facebook-circular-logo");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
