:root {
    --Main-color: #E30613;
    --White-color: #ffffff;
    --Light-grey: #706F6F;
    --Dark-grey: #373736;
    --Black-color: #000000;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

/*-- Navbar --*/
#nav-web {
    background-color: transparent !important;
}
.logo {
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: var(--White-color);
    border-radius: 50px;
    border: solid 2px white;
}
#nav-web-item {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    padding-right: 30px;
}
#nav-web-item:hover {
    border-bottom: #E30613 solid 2px;
}
/*-- hero + animation --*/
#hero {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    animation: slideBg 20s infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/mudanza.jpg');
}
@keyframes slideBg {
    0% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/mudanza_roja.jpg');
    }
    25% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/carga_especial_1.jpg');
    }
    50% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/encomiendas.jpg');
    }
    100% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/montacarga.jpg');
    }
}
/*-- landing Info --*/
.landing-left {
    float: left;
}
#title1 {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}
#title1 h1 {
    font-size: 250px;
    font-weight: 900;
}
#subtitle5 {
    padding-top: 70%;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
}
#subtitle5 h3 {
    font-size: 33px;
    font-weight: 700;
}
.landing-right {
    float: right;
    padding-top: 70%;
}
.landing-right .landing-btn {
    background-color: #E30613;
    padding: 11px 30px;
    border-radius: 25px;
    font-size: 30px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
}
a {
    text-decoration: none;
}
#mobile-landing {
    display: none;
}
/*-- Services --*/
#products {
    height: 100vh;
    width: 100%;
    box-sizing: content-box;
    
}
.big-box{
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #E30613, #E30630);
    top: 100%;
    bottom: 50%;
    left: 50%;
    transform: translate(70%, 20%);
    z-index: -1;
}
.big-box::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 50%;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}
.box{
    position: absolute;
    height: 500px;
    top: 150%;
    right: 50%;
    transform: translate(-120%, 11%);
    opacity: 0.2;
    z-index: -1;
}
.products-header {
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 6%;
}
.products-header h1 {
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--Main-color);
    text-align: left;
}
#service-body1 {
    height: 600px;
    width: 400px;
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/mudanza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}
#service-body2 {
    height: 600px;
    width: 400px;
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/encomiendas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}
#service-body3 {
    height: 600px;
    width: 400px;
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/montacarga.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
}
#service-title {
    padding-top: 5%;
    padding-bottom: 15%;
}
#service-title h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: var(--White-color);
    text-align: center;
}
#service-icon {
    text-align: center;
}
#service-icon i {
    padding: 20px 32px;
    background-color: #E30613;
    text-align: center;
    color: var(--White-color);
    text-align: center;
    font-size: 80px;
    border-radius: 100px;
    border: solid 5px;
    border-color: var(--White-color);
}
#service-caption {
    padding-top: 15%;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 10%;
}
#service-caption h3 {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 900;
}
#service-action {
    padding: 3% 10%;
    text-align: center;
}
#service-action .service-btn {
    background-color: #E30613;
    padding: 3% 10%;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 1px 3px rgba(25, 25, 25, 0.5);
}
.mobile-products {
    display: none;
}
/* contact */
#contact {
    margin: 0;
    box-sizing: border-box;
}
#contact .container {
    position: relative;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 70%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form {
    background-color: #E30613;
    position: relative;
}
.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 30%, #706F6F);
    position: absolute;
}
.circle.one {
    width: 230px;
    height: 230px;
    top: 230px;
    right: -60px;
}
.circle.two {
    width: 130px;
    height: 130px;
    top: 30px;
    right: 150px;
}
.contact-form:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #E30613;
    transform: rotate(45deg);
    top: 90px;
    left: -24px;
}
.contact-form form {
    padding: 2.3rem 2.3rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.tiltle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.input-container {
    position: relative;
    margin: 1rem 0;
}
.input {
    width: 100%;
    outline: none;
    border: 2px solid #ffffff;
    background: none;
    padding: 0.8rem 2.4rem;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
textarea.input {
    padding: 1.6rem 2.4rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.8rem;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.input-container textarea label {
    top: 2rem;
    transform: translateY(0);
}
.contact-form .btn {
    padding: 0.6rem 1.3rem;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    font-size: 1.08rem;
    color: #E30613;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}
.contact-form .btn:hover {
    background-color: transparent;
    color: #ffffff;
}
.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    padding: 0 0.8rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input-container span:before, .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #E30613;
    top: 50%;
    transform: translateY(-50%);
}
.input-container span:before {
    left: 50%;
}
.input-container span:after {
    right: 50%;
}
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 13px;
    font-size: 1.2rem;
}
.input-container.focus span:before, .input-container.focus span:after {
    width: 70%;
    opacity: 1;
}
.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info .title {
    color: #E30613;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.text {
    color: #555;
    margin: 1.5rem 0 2rem 0;
    font-size: 1.5rem;
}
.information {
    padding: 0.8rem;
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.icon {
    width: 60px;
    margin-right: 0.7rem;
}
.social-media {
    padding: 2rem 0 0 0;
}
.social-media p {
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.social-icon {
    display: flex;
    font-size: 2rem;
    color: red;
}
.social-icon a {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: linear-gradient(45deg, #000, #706F6F);
    text-align: center;
    padding: 0.1rem;
    line-height: 45px;
    margin-right: 0.45rem;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}
.social-icon a:hover {
    transform: scale(1.2);
    color: #E30613;
}
.contact-info::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    border: 30px solid #E30613;
    border-radius: 50%;
    bottom: -107px;
    right: 50px;
    opacity: 0.3;
}
.big-circle {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #E30613, #E30630);
    bottom: 50%;
    right: 50%;
    transform: translate(-70%, 20%);
}
.big-circle::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 50%;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}
.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(160%, 11%);
    opacity: 0.2;
}
/*---- about us ----*/
#about {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    object-fit: contain;
    padding: 1rem;
}
.cyg-text {
    position: relative;
    z-index: 3;
    border: solid 0.4rem #E30613;
    justify-content: center;
    border-radius: 25px;
    height: 90vh;
    padding: 1rem;
    background-position: center center;
    animation: slideBg-mb 20s infinite 0s;
    animation-timing-function: ease-in-out;
    background-size: cover;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(160, 50, 50, 0.3)), url('img/IMG-3521.PNG');
    justify-content: center;
}
@keyframes slideBg-mb {
    0% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/mudanza_roja.jpg');
    }
    25% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/carga_especial_1.jpg');
    }
    50% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/encomiendas.jpg');
    }
    100% {
        background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/montacarga.jpg');
    }
}
.logo-mb {
    justify-content: center;
    margin-top: 2%;
    margin-left: 42%;
    border: #ffffff 0.4rem solid;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ffffff;
    background-size: cover;
    background-image: url('img/IMG-3521.PNG');
}
.about-content{
    margin-top: 5%;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2%;
}
.partners-logo{
    position: relative;
    z-index: 3;
    margin-top: 5%;
    padding:10% 20%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 100%;
    object-fit: cover;
    background-image: url('img/logos/logo\ paraiso.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: slideLg 20s infinite 0s;
    animation-timing-function: ease-in-out;
}
@keyframes slideLg {
    0% {
        background-image:  url('img/logos/logo\ paraiso.png');
    }
    25% {
        background-image: url('img/logos/justoybueno.jpg');
    }
    50% {
        background-image: url('img/logos/Pan_Arabe.png');
    }
    100% {
        background-image: url('img/logos/express_logo.png');
    }
}
.text-mb {
    margin-top: 3%;
    width: 100%;
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.3));
    text-align: center;
    border-radius: 25px;
}
.text-mb h1 {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    padding: 0.8rem;
}

.text-mb p {
    height: 99%;
    padding: 5% 10%;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}
/*---- navbar-bottom ---*/

#nav-bottom {
    display: none;
}
/*---- footer ----*/
#cyg_footer {
    z-index: 10;
    display: flex;
    padding: 1rem 2rem;
    height: 100%;
    width: 100vw;
    background-color: #373736;
    border-bottom: #E30613 solid 2px;
}
.logoyredes{
    display: flex;
    
}
.logoCyg{
    height: 180px;
    padding-right: 10%;
}
.logoCyg img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: #ffffff;
    border: solid 4px #ffffff;
    border-radius: 50%;
}
.logoyredes h1{
    padding-top: 3%;
    color: #ffffff;
    font-weight: 700;
}
.redesCyg{
    display: flex;
    padding-top: 7%;
}
.redesCyg img{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    margin-left: 1rem;
}
.mb-opt {
    border-bottom: #E30613 solid 2px;
    padding-left: 20%;
}
#cyg_footer .col {
}
#cyg_footer .col h1 {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: underline #E30613 2px;
}
#cyg_footer .col li {
    color: #ffffff;
    font-size: 1rem;
    text-align: left;
    padding-left: 15px;
}
.developer {
    color: #E30630;
    padding: 0.2rem 0rem;
    padding-bottom: -0.2rem;
    text-align: center;
}
.developer a {
    text-decoration: none;
    color: #E30630;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.developer a:hover {
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 1370px) {
    /*-- landing Info --*/
    .landing-left {
        float: left;
    }
    #title1 {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: center;
    }
    #title1 h1 {
        font-size: 150px;
        font-weight: 900;
    }
    #subtitle5 {
        padding-top: 50%;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: center;
    }
    #subtitle5 h3 {
        font-size: 33px;
        font-weight: 700;
    }
    .landing-right {
        float: right;
        padding-top: 70%;
    }
    .landing-right .landing-btn {
        background-color: #E30613;
        padding: 11px 30px;
        border-radius: 25px;
        font-size: 30px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
    }
    a {
        text-decoration: none;
    }
    #mobile-landing {
        display: none;
    }
    /*-- Services --*/
    #products {
        height: 100vh;
        width: 100%;
        background-color: var(--White-color);
    }
    .products-header {
        padding-top: 1%;
        padding-left: 10%;
        padding-bottom: 2%;
    }
    .products-header h1 {
        font-size: 70px;
        font-weight: 900;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: var(--Main-color);
        text-align: left;
    }
    #service-body1 {
        height: 480px;
        width: 350px;
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/mudanza.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5%;
    }
    #service-body2 {
        height: 480px;
        width: 350px;
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/encomiendas.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5%;
    }
    #service-body3 {
        height: 480px;
        width: 350px;
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.3)), url('img/montacarga.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5%;
    }
    #service-title {
        padding-top: 5%;
        padding-bottom: 10%;
    }
    #service-title h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 900;
        color: var(--White-color);
        text-align: center;
    }
    #service-icon {
        text-align: center;
    }
    #service-icon i {
        padding: 20px 29px;
        background-color: #E30613;
        text-align: center;
        color: var(--White-color);
        text-align: center;
        font-size: 50px;
        border-radius: 100px;
        border: solid 5px;
        border-color: var(--White-color);
    }
    #service-caption {
        padding-top: 15%;
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 5%;
    }
    #service-caption h3 {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 900;
    }
    #service-action {
        padding: 3% 10%;
        text-align: center;
    }
    #service-action .service-btn {
        background-color: #E30613;
        padding: 3% 10%;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 700;
        border-radius: 25px;
        text-decoration: none;
        box-shadow: 1px 3px rgba(25, 25, 25, 0.5);
    }
    .mobile-products {
        display: hidden;
    }
    /*-- contact --*/
    #contact {
        margin: 0;
        padding-top: 2rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 2rem;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
    }
    #contact .container {
        position: relative;
        width: 100vw;
        min-width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form {
        width: 75%;
        height: 90vh;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-form {
        background-color: #E30613;
        position: relative;
    }
    .circle {
        border-radius: 50%;
        background: linear-gradient(135deg, transparent 30%, #706F6F);
        position: absolute;
    }
    .circle.one {
        width: 230px;
        height: 230px;
        top: 230px;
        right: -60px;
    }
    .circle.two {
        width: 130px;
        height: 130px;
        top: 30px;
        right: 150px;
    }
    .contact-form:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #E30613;
        transform: rotate(45deg);
        top: 90px;
        left: -24px;
    }
    .contact-form form {
        padding: 2.3rem 2.3rem;
        z-index: 10;
        overflow: hidden;
        position: relative;
    }
    .tiltle {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ffffff;
        font-weight: 900;
        font-size: 2rem;
        line-height: 1;
        margin-bottom: 0.7rem;
    }
    .input-container {
        position: relative;
        margin: 1rem 0;
    }
    .input {
        width: 100%;
        outline: none;
        border: 2px solid #ffffff;
        background: none;
        padding: 0.8rem 2.4rem;
        color: #ffffff;
        font-weight: 400;
        font-size: 0.4rem;
        letter-spacing: 0.5px;
        border-radius: 25px;
        transition: 0.3s;
    }
    textarea.input {
        padding: 1.6rem 2.4rem;
        min-height: 200px;
        border-radius: 22px;
        resize: none;
        overflow-y: auto;
    }
    .input-container label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        padding: 0 0.8rem;
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 400;
        pointer-events: none;
        z-index: 1000;
        transition: 0.5s;
    }
    .input-container textarea label {
        top: 2rem;
        transform: translateY(0);
    }
    .contact-form .btn {
        padding: 0.6rem 1.3rem;
        background-color: #ffffff;
        border: 3px solid #ffffff;
        font-size: 1.08rem;
        color: #E30613;
        border-radius: 25px;
        line-height: 1;
        cursor: pointer;
        transition: 0.3s;
        margin: 0;
    }
    .contact-form .btn:hover {
        background-color: transparent;
        color: #ffffff;
    }
    .input-container span {
        position: absolute;
        top: 0;
        left: 25px;
        transform: translateY(-50%);
        font-size: 1.2rem;
        padding: 0 0.8rem;
        color: transparent;
        pointer-events: none;
        z-index: 500;
    }
    .input-container span:before, .input-container span:after {
        content: "";
        position: absolute;
        width: 10%;
        opacity: 0;
        transition: 0.3s;
        height: 5px;
        background-color: #E30613;
        top: 50%;
        transform: translateY(-50%);
    }
    .input-container span:before {
        left: 50%;
    }
    .input-container span:after {
        right: 50%;
    }
    .input-container.focus label {
        top: 0;
        transform: translateY(-50%);
        left: 13px;
        font-size: 1.2rem;
    }
    .input-container.focus span:before, .input-container.focus span:after {
        width: 70%;
        opacity: 1;
    }
    .contact-info {
        padding: 2.3rem 2.2rem;
        position: relative;
    }
    .contact-info .title {
        color: #E30613;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2rem;
        font-weight: 500;
    }
    .text {
        color: #555;
        margin: 1.5rem 0 2rem 0;
        font-size: 1rem;
    }
    .information {
        padding: 0.2rem;
        display: flex;
        color: #555;
        margin: 0.7rem 0;
        align-items: center;
        font-size: 1rem;
        font-weight: 500;
    }
    .icon {
        width: 40px;
        margin-right: 0.7rem;
    }
    .social-media {
        padding: 1rem 0 0 0;
    }
    .social-media p {
        color: #333;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .social-icon {
        display: flex;
        font-size: 2rem;
        color: red;
    }
    .social-icon a {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        background: linear-gradient(45deg, #000, #706F6F);
        text-align: center;
        padding: 0.1rem;
        line-height: 45px;
        margin-right: 0.45rem;
        text-decoration: none;
        color: #ffffff;
        transition: .3s;
    }
    .social-icon a:hover {
        transform: scale(1.2);
        color: #E30613;
    }
    .contact-info::before {
        content: "";
        position: absolute;
        width: 210px;
        height: 210px;
        border: 30px solid #E30613;
        border-radius: 50%;
        bottom: -107px;
        right: 50px;
        opacity: 0.3;
    }
    .big-circle {
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #E30613, #E30630);
        bottom: 50%;
        right: 50%;
        transform: translate(-70%, 25%);
    }
    .big-circle::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: #ffffff;
        border-radius: 50%;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
    }
    .square {
        position: absolute;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(160%, 3%);
        opacity: 0.3;
    }
    /*----about us ----*/
    #about {
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        object-fit: contain;
        padding: 1rem;
    }
    .cyg-text {
        position: relative;
        z-index: 3;
        border: solid 0.4rem #E30613;
        justify-content: center;
        border-radius: 25px;
        height: 90vh;
        padding: 1rem;
        background-position: center center;
        animation: slideBg-mb 20s infinite 0s;
        animation-timing-function: ease-in-out;
        background-size: cover;
        background-color: #ffffff;
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(160, 50, 50, 0.3)), url('img/IMG-3521.PNG');
        justify-content: center;
    }
    @keyframes slideBg-mb {
        0% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/mudanza_roja.jpg');
        }
        25% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/carga_especial_1.jpg');
        }
        50% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/encomiendas.jpg');
        }
        100% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/montacarga.jpg');
        }
    }
    .logo-mb {
        justify-content: center;
        margin-top: 15%;
        margin-left: 24%;
        border: #ffffff 0.4rem solid;
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: #ffffff;
        background-size: cover;
        background-image: url('img/IMG-3521.PNG');
    }
    .text-mb {
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.3));
        text-align: center;
        border-radius: 25px;
    }
    .text-mb h1 {
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 0.5rem;
    }
    .text-mb p {
        height: 100%;
        padding: 20px;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        color: #ffffff;
    }
    /*---- navbar-bottom ---*/
    #nav-bottom {
        display: none;
    }
     /*---- footer ----*/
     #cyg_footer {
        z-index: 10;
        position: relative;
        padding: 1rem 2rem;
        height: 100%;
        width: 100vw;
        background-color: #373736;
    }
    .mb-opt {
        border-bottom: #E30613 solid 2px;
    }
    #cyg_footer .col-4 {
        text-align: center;
    }
    #cyg_footer .col-4 h1 {
        color: #ffffff;
        font-size: 1rem;
        text-decoration: underline #E30613 2px;
    }
    #cyg_footer .col-4 li {
        color: #ffffff;
        font-size: 0.8rem;
        text-align: start;
        padding-left: 25px;
    }
    #cyg_footer .col-4 li:hover {
        font-size: 1.2rem;
    }
    .developer {
        color: #E30630;
        padding: 0.2rem 0rem;
        padding-bottom: -0.2rem;
        text-align: center;
    }
    .developer a {
        text-decoration: none;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
    .developer a:hover {
        text-decoration: none;
        color: #ffffff;
    }
}

@media only screen and (max-width: 850px) {
    @supports(object-fit: cover) {
        .logo {
            height: 50px;
            width: 50px;
            object-fit: contain;
        }
    }
    #nav-web {
        background-color: transparent !important;
    }
    #nav-web img .logo {
        height: 100px;
        width: 100px;
        object-fit: scale-down;
    }
    #hero {
        position: relative;
        z-index: 0;
        height: 100vh;
    }
    /*-- landing Info --*/
    .landing-left {
        float: none;
        display: none;
    }
    #title1 {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: center;
    }
    #title1 h1 {
        font-size: 80px;
        font-weight: 900;
    }
    #subtitle5 {
        padding-top: 50%;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        justify-content: center;
        display: none;
    }
    #subtitle5 h3 {
        font-size: 30px;
        font-weight: 900;
    }
    .landing-right {
        float: none;
        padding-top: 90%;
        display: none;
    }
    .landing-right .landing-btn {
        background-color: #E30613;
        padding: 11px 30px;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
    }
    a {
        text-decoration: none;
    }
    #mobile-landing {
        display: contents;
    }
    #mobile-subtitle {
        padding-top: 20%;
        text-align: center;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #mobile-subtitle h3 {
        font-size: 45px;
    }
    #mobile-title {
        text-align: center;
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-bottom: 20%;
        font-weight: 900;
    }
    #mobile-title h1 {
        font-size: 80px;
    }
    #mobile-button {
        text-align: center;
    }
    #mobile-button a {
        text-decoration: none;
        font-size: 30px;
        background-color: #E30613;
        padding: 20px;
        color: #ffffff;
        border-radius: 25px;
    }
    /*-- Services --*/
    #products {
        height: 100vh !important;
        width: 100vw !important;
        background-color: var(--White-color);
    }
    .products-header {
        padding-top: 5%;
        padding-left: 10%;
        background-color: #ffffff;
        display: none;
    }
    #service-body1 {
        display: none;
    }
    #service-body2 {
        display: none;
    }
    #service-body3 {
        display: none;
    }
    .mobile-products {
        background-color: #ffffff;
        margin: 0;
        padding: 4%;
        display: block;
    }
    .mobile-title {
        color: #E30613;
        font-size: 8vh;
        font-weight: bolder;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .slider-box {
        margin: 0;
        padding: 0;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
        height: 70vh;
        border-radius: 50px;
    }
    .slider-box ul {
        width: 100%;
    }
    .slider-details1 {
        text-align: center;
        padding: 3%;
        padding-bottom: 10%;
        background-image: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.1)), url('img/mudanza.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 92vw;
        border-radius: 50px;
    }
    .slider-details2 {
        text-align: center;
        padding: 3%;
        padding-bottom: 10%;
        background-image: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.1)), url('img/encomiendas.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 92vw;
        border-radius: 50px;
    }
    .slider-details3 {
        text-align: center;
        padding: 3%;
        padding-bottom: 10%;
        background-image: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.1)), url('img/montacarga.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 92vw;
        border-radius: 50px;
    }
    .slider-details1 h1 {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10vw;
        font-weight: bolder;
        padding-bottom: 10%;
    }
    .slider-details2 h1 {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10vw;
        font-weight: bolder;
        padding-bottom: 10%;
    }
    .slider-details3 h1 {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 8vw;
        font-weight: bolder;
        padding-bottom: 10%;
    }
    .slider-details1 #slider-icon {
        padding: 8% 11%;
        color: #ffffff;
        background-color: #E30613;
        border-radius: 50%;
        font-size: 350%;
        border: #ffffff solid 5px;
    }
    .slider-details2 #slider-icon {
        padding: 8% 11%;
        color: #ffffff;
        background-color: #E30613;
        border-radius: 50%;
        font-size: 350%;
        border: #ffffff solid 5px;
    }
    .slider-details3 #slider-icon {
        padding: 8% 11%;
        color: #ffffff;
        background-color: #E30613;
        border-radius: 50%;
        font-size: 350%;
        border: #ffffff solid 5px;
    }
    .slider-details1 p {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 6vw;
        font-weight: bold;
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        border-radius: 10px;
        border: #ffffff solid 5px;
        background-color: rgba(25, 25, 25, 0.5);
        height: 30vh;
    }
    .slider-details2 p {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 6vw;
        font-weight: bold;
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        border-radius: 10px;
        border: #ffffff solid 5px;
        background-color: rgba(25, 25, 25, 0.5);
        height: 30vh;
    }
    .slider-details3 p {
        color: #ffffff;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 6vw;
        font-weight: bold;
        padding-top: 8%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 8%;
        border-radius: 10px;
        border: #ffffff solid 5px;
        background-color: rgba(25, 25, 25, 0.5);
        height: 30vh;
    }
    .slider-details1 a {
        text-decoration: none;
        color: #ffffff;
        background-color: #E30613;
        padding: 3% 7%;
        font-size: 7vw;
        border-radius: 10%;
        font-weight: bold;
    }
    .slider-details2 a {
        text-decoration: none;
        color: #ffffff;
        background-color: #E30613;
        padding: 3% 7%;
        font-size: 7vw;
        border-radius: 10%;
        font-weight: bold;
    }
    .slider-details3 a {
        text-decoration: none;
        color: #ffffff;
        background-color: #E30613;
        padding: 3% 7%;
        font-size: 7vw;
        border-radius: 10%;
        font-weight: bold;
    }
    .mobile-nav {
        overflow: hidden;
        background-color: transparent !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: 3vh;
    }
    .mobile-nav a {
        color: #E30613;
        font-size: 4vw;
        font-weight: bolder;
        text-decoration: underline;
    }
    .mobile-nav a:hover {
        color: #000000;
        font-size: 5vw;
    }
    /*-- contact --*/
    #contact {
        height: 100vh;
        margin: 0;
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1rem;
        box-sizing: border-box;
    }
    #contact .container {
        height: 90vh;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form {
        height: 90vh;
        width: 100vw;
        margin-top: 1rem;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        grid-template-columns: 1fr;
    }
    .contact-form {
        background-color: #E30613;
    }
    .circle {
        border-radius: 50%;
        background: linear-gradient(135deg, transparent 30%, #706F6F);
        position: absolute;
    }
    .circle.one {
        width: 230px;
        height: 230px;
        top: 230px;
        right: -60px;
    }
    .circle.two {
        width: 130px;
        height: 130px;
        top: 30px;
        right: 150px;
    }
    .contact-form:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #E30613;
        transform: rotate(45deg);
        top: 90px;
        left: -24px;
    }
    .contact-form form {
        padding: 1.3rem 1.3rem;
        z-index: 10;
        overflow: hidden;
        position: flex;
    }
    .tiltle {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ffffff;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 0.7rem;
    }
    .input-container {
        position: relative;
        margin: 0.4rem 0;
    }
    .input {
        width: 100%;
        outline: none;
        border: 2px solid #ffffff;
        background: none;
        padding: 0.4rem 1.2rem;
        color: #ffffff;
        font-weight: 400;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        border-radius: 25px;
        transition: 0.3s;
    }
    textarea.input {
        padding: 0.8rem 1.2rem;
        min-height: 50px;
        border-radius: 22px;
        overflow-y: auto;
    }
    .input-container label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        padding: 0 0.8rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
        pointer-events: none;
        z-index: 1000;
        transition: 0.5s;
    }
    .input-container textarea label {
        top: 1rem;
        transform: translateY(0);
    }
    .contact-form .btn {
        padding: 0.2rem 0.9rem;
        background-color: #ffffff;
        border: 3px solid #ffffff;
        font-size: 1rem;
        color: #E30613;
        border-radius: 25px;
        line-height: 1;
        cursor: pointer;
        transition: 0.3s;
        margin: 0;
    }
    .contact-form .btn:hover {
        background-color: transparent;
        color: #ffffff;
    }
    .input-container span {
        position: absolute;
        top: 0;
        left: 25px;
        transform: translateY(-50%);
        font-size: 1.2rem;
        padding: 0 0.8rem;
        color: transparent;
        pointer-events: none;
        z-index: 500;
    }
    .input-container span:before, .input-container span:after {
        content: "";
        position: absolute;
        width: 10%;
        opacity: 0;
        transition: 0.3s;
        height: 5px;
        background-color: #E30613;
        top: 50%;
        transform: translateY(-50%);
    }
    .input-container span:before {
        left: 50%;
    }
    .input-container span:after {
        right: 50%;
    }
    .input-container.focus label {
        top: 0;
        transform: translateY(-50%);
        left: 13px;
        font-size: 1.2rem;
    }
    .input-container.focus span:before, .input-container.focus span:after {
        width: 70%;
        opacity: 1;
    }
    .contact-info {
        padding: 1rem 2.2rem;
        position: relative;
    }
    .contact-info .title {
        color: #E30613;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .text {
        color: #555;
        margin: 1rem 0 1.5rem 0;
        font-size: 0.8rem;
        font-weight: 500;
    }
    .information {
        padding: 1px;
        display: flex;
        color: #555;
        margin: 0.2rem 0;
        align-items: center;
        font-size: 0.7rem;
        font-weight: 500;
    }
    .icon {
        width: 1.5rem;
        margin-right: 0.5rem;
    }
    .social-media {
        padding: 0.5rem 0 0 0;
    }
    .social-media p {
        color: #333;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .social-icon {
        display: flex;
        color: red;
    }
    .social-icon a {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        background: linear-gradient(45deg, #000, #706F6F);
        text-align: center;
        padding: 0;
        line-height: 45px;
        margin-right: 0.45rem;
        text-decoration: none;
        color: #ffffff;
        transition: .3s;
    }
    .social-icon a:hover {
        transform: scale(1.2);
        color: #E30613;
    }
    .social-icon a i {
        display: flex;
        font-size: 1rem;
        padding: 0.3rem;
    }
    .contact-info::before {
        content: "";
        position: absolute;
        width: 210px;
        height: 210px;
        border: 30px solid #E30613;
        border-radius: 50%;
        bottom: -107px;
        right: 50px;
        opacity: 0.3;
        display: none;
    }
    .big-circle {
        position: absolute;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background: linear-gradient(to bottom, #E30613, #E30630);
        bottom: 50%;
        right: 50%;
        transform: translate(-70%, 25%);
    }
    .big-circle::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: #ffffff;
        border-radius: 50%;
        top: calc(50% - 150px);
        left: calc(50% - 150px);
    }
    .square {
        position: absolute;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(160%, 3%);
        opacity: 0.3;
    }
    /*----about us ----*/
    #about {
        height: 100vh;
        width: 100vw;
        background-color: #ffffff;
        object-fit: contain;
        padding: 1rem;
    }
    .cyg-text {
        position: relative;
        z-index: 3;
        border: solid 0.4rem #E30613;
        justify-content: center;
        border-radius: 25px;
        height: 90vh;
        padding: 1rem;
        background-position: center center;
        animation: slideBg-mb 20s infinite 0s;
        animation-timing-function: ease-in-out;
        background-size: cover;
        background-color: #ffffff;
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(160, 50, 50, 0.3)), url('img/IMG-3521.PNG');
        justify-content: center;
    }
    @keyframes slideBg-mb {
        0% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/mudanza_roja.jpg');
        }
        25% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.3)), url('img/carga_especial_1.jpg');
        }
        50% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/encomiendas.jpg');
        }
        100% {
            background-image: linear-gradient(rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.3)), url('img/montacarga.jpg');
        }
    }
    .logo-mb {
        justify-content: center;
        margin-top: 15%;
        margin-left: 24%;
        border: #ffffff 0.4rem solid;
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: #ffffff;
        background-size: cover;
        background-image: url('img/IMG-3521.PNG');
    }
    .partners-logo{
        display: none;
    }
    .text-mb {
        background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(0, 0, 0, 0.3));
        text-align: center;
        border-radius: 25px;
    }
    .text-mb h1 {
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: 700;
        padding: 0.5rem;
    }
    .text-mb p {
        height: 100%;
        padding: 10px;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        color: #ffffff;
    }
    /*---- navfoot ----*/
    #nav-bottom {
        position: relative;
        height: 5vh;
        display: flex;
        z-index: 0;
    }
    /*---- footer ----*/
    #cyg_footer {
        z-index: 10;
        position: relative;
        padding: 1rem 2rem;
        height: 100%;
        width: 100vw;
        background-color: #373736;
    }
    .mb-opt {
        border-bottom: #E30613 solid 2px;
    }
    #cyg_footer .col-4 {
        text-align: center;
    }
    #cyg_footer .col-4 h1 {
        color: #ffffff;
        font-size: 1rem;
        text-decoration: underline #E30613 2px;
    }
    #cyg_footer .col-4 li {
        color: #ffffff;
        font-size: 0.8rem;
        text-align: start;
        padding-left: 25px;
    }
    #cyg_footer .col-4 li:hover {
        font-size: 1.2rem;
    }
    .developer {
        color: #E30630;
        padding: 0.2rem 0rem;
        padding-bottom: -0.2rem;
        text-align: center;
    }
    .developer a {
        text-decoration: none;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
    .developer a:hover {
        text-decoration: none;
        color: #ffffff;
    }
}